@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&display=swap');

.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid purple; 
    border-style: inset;
    background: linear-gradient(to top,white, #c5f7ec);
}

#jojo {
    width: 80px;
    height: 80px; 
    background-image: url(img/jojo.png);
    background-size: 80px 80px;
    position:relative;
    top: 120px; 
}

#dio {
    width: 30px; 
    height: 50px;
    background-image: url(img/dio.png);
    background-size: 30px 50px;
    position: relative;
    top: 70px; 
    left: 570px; 
    animation: dioMov 2s infinite linear; 
}

.reverse {
    transform: scale(-1, 1);  
}

@keyframes dioMov {
    0% {
        left: 570px;
    }
    100% {
        left: -20px; 
    }
}

.jump {
    animation: jump 0.4s linear; 
}

.paused {
    -webkit-animation-play-state:paused !important;
    -moz-animation-play-state:paused !important;
    -o-animation-play-state:paused !important; 
    animation-play-state:paused !important;
}

@keyframes jump {
    0% {
        top: 50px;
    }
    30% {
        top: 30px;
    }
    50% {
        top: 0; 
    }
    80% {
        top: 30px; 
    }
    100% {
        top: 50px; 
    }
}

body {
    font-family: 'Cinzel', serif; 
    background: url(img/wall.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hidden {
    display: none;
}

.press {
    font-size: 40px; 
    position: relative;
    left: 15%; 
}

.game-container {
    display: flex;
    flex-direction: column; 
    position: absolute;
    left: 50%; 
    top: 15%; 
}

.logo-img {
    position: absolute; 
    top: 0%; 
    right: 0
}

#scoreboard {
    background: #eb008b70;
    width: 400px;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    border-radius: 10px;
    margin: auto;
}

.container-characters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15%; 
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
}

.input {
    box-shadow: inset 0 2em 3em -3em green;;
}

.gallery-img {
    float:left;
}

.gallery-item > * {
    transition: all 0.5s ease-out;
}

.gallery-item:hover > .gallery-img {
    transform:scale(1.1);
	opacity:0.7;
	cursor:pointer;
    
}

.gallery-item:hover > .gallery-label {
    transform:scale(1.1);
	opacity:0.7;
	cursor:pointer;
}

#modal {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    cursor:pointer;
}

.scoreentry {
    border: 2px solid aliceblue;
    background: linear-gradient(to top,rgb(240, 67, 169), #563586);
    margin: 1em auto 1.4em;
    top: 5vw;
    width: 500px;
    height: 35px;
    color: white; 
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
    border-radius: 10px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  .btn{
    margin-top: 8px;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	border-radius:8px;
	display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: 15px;
	padding:11px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  }

  .btn:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
  }