@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&display=swap');

.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid purple; 
    border-style: inset;
    /* margin: auto;  */
    /* float: left; pin to right side of container or some shit i dunno */
    /* margin-top: 100px; logo is static height ??? */
    background: linear-gradient(to top,white, #c5f7ec);
}

#jojo {
    width: 80px;
    height: 80px; 
    background-image: url(img/jojo.png);
    background-size: 80px 80px;
    position:relative;
    top: 120px; 
}

#dio {
    width: 30px; 
    height: 50px;
    background-image: url(img/dio.png);
    background-size: 30px 50px;
    position: relative;
    top: 70px; 
    left: 570px; 
    animation: dioMov 2s infinite linear; 
}

@keyframes dioMov {
    0% {
        left: 570px;
    }
    100% {
        left: -20px; 
    }
}

.jump {
    animation: jump 0.4s linear; 
}

.paused {
    -webkit-animation-play-state:paused !important;
    -moz-animation-play-state:paused !important;
    -o-animation-play-state:paused !important; 
    animation-play-state:paused !important;
}

@keyframes jump {
    0% {
        top: 50px;
    }
    30% {
        top: 30px;
    }
    50% {
        top: 0; 
    }
    80% {
        top: 30px; 
    }
    100% {
        top: 50px; 
    }
}

body {
    font-family: 'Cinzel', serif; 
    background: url(img/wall.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.press {
    font-size: 40px; 
    position: relative;
    left: 15%; 
}

/* доверстать кнопку с отображением счета игрока*/

.game-container {
    display: flex;
    flex-direction: column; 
    position: absolute;
    left: 60%; 
    top: 30%; 
}

.logo-img {
    position: fixed; 
    top: 0%; 
    right: 0
}

#scoreboard {
    background: #eb008b70;
    width: 400px;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    border-radius: 10px;
    margin: auto;
}
